# IDE
.vscode

# deb packaging
debian/cockpit-navigator
debian/cockpit-navigator.substvars
debian/cockpit-navigator.postrm.debhelper
debian/debhelper-build-stamp
debian/files
debian/.debhelper

# build output
dist